
.container-fluid.landing-row2
  .row
    .col-md-3
      .contact-container
        a(ui.sref = "aboutus") About Us
    .col-md-3
      .contact-container
        |Questions? Please check FAQ
    .col-md-6
      .contact-container
        |fACEBOOK Feedback