footer
  .container-fluid.landing-row2
    .row
      .col-md-3
        .contact-container.flex-vertical 
          div 
            a(ui-sref = "aboutus") About us
          div 
            a(href = "mailto:rishulmatta16@gmail.com") Mail: rishulmatta16@gmail.com

      .col-md-3
        .contact-container.flex-vertical 
          div 
            a(ui-sref = "faq") Questions ?
          div 
            a(ui-sref = "feedback") Feedback

      .col-md-6
        .contact-container
          div
            a(href = "https://www.facebook.com/roadfravel/" target = "_blank")
              img.footer-social-icons(src = "/img/icons/fb.png")
          div
            a(href = "" target = "_blank")
              img.footer-social-icons(src = "/img/icons/twitter.png")
          div
            a(href = "https://github.com/rishulmatta" target = "_blank")
              img.footer-social-icons(src = "/img/icons/git.png")