nav.navbar.navbar-default.navbar-added
  .container-fluid
    // Brand and toggle get grouped for better mobile display
    .navbar-header
      button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#bs-example-navbar-collapse-1', aria-expanded='false')
        span.sr-only Toggle navigation
        span.icon-bar
        span.icon-bar
        span.icon-bar
      a.navbar-brand(ui-sref='landing') Brand
    // Collect the nav links, forms, and other content for toggling
    #bs-example-navbar-collapse-1.collapse.navbar-collapse
      ul.nav.navbar-nav.navbar-left
        li
          a.navbar-color.anchor-as-button(ui-sref='map.search') Pool
        li
          a.navbar-color.anchor-as-button(ui-sref='map.offer') Offer
      ul.nav.navbar-nav.navbar-right
        li
          a.navbar-color.anchor-as-button(ui-sref='faq') FAQ
        if user
          li.dropdown
            a.dropdown-toggle.profile-pic-anchor(href= '#{user.facebook.profileUrl}', target = "_blank" ,data-toggle='dropdown', role='button', aria-haspopup='true', aria-expanded='false')
              img.profile-pic-circle(src = '#{user.facebook.profilePicUrl}') 
              span.caret
            ul.dropdown-menu
              li
                a(ui-sref='mypools') Offered History
              li
                a(href='#') Feedback
              li.divider(role='separator')
              li
                a(href='/logout') Logout
        else
          li.dropdown
            a.navbar-color.anchor-as-button(ui-sref='login') Login             
      // /.navbar-collapse
  // /.container-fluid
