nav.navbar.navbar-default.navbar-added
  .container-fluid
    // Brand and toggle get grouped for better mobile display
    .navbar-header
      button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#bs-example-navbar-collapse-1', aria-expanded='false')
        span.sr-only Toggle navigation
        span.icon-bar
        span.icon-bar
        span.icon-bar
      a.navbar-brand(ui-sref='landing') 
        img.logo(src = "/img/rf/logo.png")
    // Collect the nav links, forms, and other content for toggling
    #bs-example-navbar-collapse-1.collapse.navbar-collapse
      ul.nav.navbar-nav.navbar-left
        li
          a.navbar-color.anchor-as-button(ui-sref='faq' , ng-class = "{'active-nav-bar': activeNav =='faq'}") FAQ
        li
          a.navbar-color.anchor-as-button(ui-sref='map.search' , ng-class = "{'active-nav-bar': activeNav =='pool'}") Pool
        li
          a.navbar-color.anchor-as-button(ui-sref='map.offer',  ng-class = "{'active-nav-bar': activeNav =='offer'}") Offer
      ul.nav.navbar-nav.navbar-right
        li
          a.navbar-color.anchor-as-button(ui-sref='aboutus',  ng-class = "{'active-nav-bar': activeNav =='aboutus'}") About        
        if user
          li
            a.profile-pic-anchor(ui-sref='mypools')
              img.profile-pic-circle(src = '#{user.facebook.profilePicUrl}')
          li
            a.navbar-color.anchor-as-button(href='/logout') Logout
        else
          li
            a.navbar-color.anchor-as-button(ui-sref='login') Login             
      // /.navbar-collapse
  // /.container-fluid
