.navbar-wrapper.nobck-page
  div(ng-include="'partials/header'")
#landing
.section-feature
  | Road Fravel
.container-fluid.landing-row1
  .row
    .col-md-5.col-md-offset-1
      .feature-container
        .feature-header.header-1
          | Seamless
        .feature-image.image-1
        .feature-content
    .col-md-5
      .feature-container
        .feature-header.header-2
          | Even - Odd
        .feature-image.image-2
        .feature-content
  .row.feature-row2
    .col-md-5.col-md-offset-1
      .feature-container
        .feature-header.header-2
          | Even - Odd
        .feature-image.image-2
        .feature-content
    .col-md-5
      .feature-container
        .feature-header.header-3
          | Advanced
        .feature-image.image-3
        .feature-content
.container-fluid.landing-row2
  .row
    .col-md-3
      .contact-container
        |Developed by Rishul Matta
    .col-md-3
      .contact-container
        |Questions? Please check FAQ
    .col-md-6
      .contact-container
        |fACEBOOK Feedback
