div.my-pool-deletion-modal 
  div Dude please use this website else I wont get the next seed of funding! Deletion of this result will prevent your offering to be searchable by others. Do you want to proceed?
  div.text-center.space-top
    button.btn.btn-danger(type="button", ng-click = "deleteMyPoolConfirmation()") Oh! Come on
    button.btn.btn-success(type="button", ng-click = "closeModal()") Thanks :)