div.navbar-wrapper
  div(ng-include="'partials/header'")
#myPools
  .faq-container
    .login-header Pools offered by me
    p This section the list of pools that you have offered. You cannot edit these , but you can delete the ones which are scheduled for the future. The ones which happened in the past have been disabled.
.faq-questions-container
  .list-group
    div(rf-my-pool-row ng-repeat = "pool in myPools" ng-init = "pool.index = $index")
  div.text-center
      uib-pagination(total-items='totalItems', items-per-page = "{{itemsPerPage}}",ng-model='currentPage', ng-change='pageChanged()')
div(ng-include="'partials/footer'")


