
wizard.offer-wizard(on-finish='finishedWizard()')
  wz-step(wz-title='Location' wz-data = "tripInfo")
    form
      .form-group
        label(for='source') Source
        #source.input-group
          span#basic-addon1.input-group-addon.source-img
          input.form-control(type='text', placeholder='Source', ng-model='locations.source.name', g-auto-complete='g-auto-complete')
      .form-group
        label(for='destination') Destination
        #destination.input-group
          span#basic-addon1.input-group-addon.destination-img
          input.form-control(type='text', placeholder='Destination', g-auto-complete='g-auto-complete')
      .form-group
        label(for='cost') Estimated total trip cost
        .input-group
          span.input-group-addon Rs
          input.form-control(type='text', placeholder='Leave it blank if free' ng-model = "tripInfo.cost")

      input.btn.btn-primary.pull-right(type='submit', wz-next='', value='Next')


  wz-step(wz-title='Vehicle' wz-data = "vehicleInfo")
   form.form-horizontal
     .form-group
       label.col-sm-2.control-label(for='inputVehicleType') Type
       .col-sm-10
         select#inputVehicleType.form-control(name='singleSelect', ng-model='vehicleInfo.type', ng-options='vehicleType as vehicleType.label for vehicleType in vehicleTypes', )
     .form-group
       label.col-sm-2.control-label(for='regnos') Reg Number
       .col-sm-10
         input#regnos.form-control(type='text', placeholder='Last 4 digits , reqd for Even/Odd filtering' ng-model = "vehicleInfo.registrationnumber")
     .form-group
       label.col-sm-2.control-label(for='description') Desc
       .col-sm-10
         textarea#description.form-control(rows='3' , placeholder = "Color , Make , Company etc to help others recognize your vehicle." ng-model = "vehicleInfo.description")
     .form-group
       .col-sm-offset-2.col-sm-10
          input.btn.btn-primary.pull-right(type='submit', wz-next='', value='Next')


  wz-step(wz-title='Type' wz-data = "poolInfo" )
    button.btn.btn-primary.btn-lg.btn-block.custom-height(type='Submit'  , wz-next ng-click = 'poolInfo.isOneTime = true')  One time
    br
    button.btn.btn-primary.btn-lg.btn-block.custom-height(type='submit', wz-next ng-click = 'poolInfo.isOneTime = false') Recurring


  wz-step(wz-title='Time' wz-data ="poolInfo")
   form(ng-show = "poolInfo.isOneTime")
     .form-group
       label(for='date') Date
       p.input-group
         input#date.form-control(type='text', uib-datepicker-popup='{{format}}', ng-model='poolInfo.dateAndTime.selDate', is-open='popup1.opened', datepicker-options='dateOptions', ng-required='true', close-text='Close', alt-input-formats='altInputFormats')
         span.input-group-btn
           button.btn.btn-default(type='button', ng-click='open1()')
             i.glyphicon.glyphicon-calendar
     .form-group
       label(for='time') Time
       uib-timepicker#time(ng-model='poolInfo.dateAndTime.selTime',  hour-step='hstep', minute-step='mstep', show-meridian='true')

    form(ng-hide = "poolInfo.isOneTime")
      .form-group
        label(for='date') Recur Upto
        p.input-group
          input#date.form-control(type='text', uib-datepicker-popup='{{format}}', ng-model='poolInfo.validityDate', is-open='popup1.opened', datepicker-options='dateOptions', ng-required='true', close-text='Close', alt-input-formats='altInputFormats')
          span.input-group-btn
            button.btn.btn-default(type='button', ng-click='open1()')
              i.glyphicon.glyphicon-calendar
      .form-group
        label(for='time') Repeat on
        .radio
          label
            input(type='radio', name='recurtype', value='wd', checked ng-model = "poolInfo.recurType")
            |     Weekdays (Mon - Fri)
        .radio
          label
            input(type='radio', name='recurtype', value='we' ng-model = "poolInfo.recurType")
            |     Weekends (Sat & Sun)

    input.btn.btn-primary.pull-right(type='submit', wz-next='', value='Finish now' ng-click = 'persistPool()')
  