.search-list-container(ng-click = 'searchListItemClicked($index)')
  .search-list-contents
    .search-item-left
      a(target = "_blank" ng-href = "{{pool.profileUrl}}")
        img.media-object.img-circle(ng-src="{{pool.profilePicUrl ? pool.profilePicUrl : 'img/defaults/profile.png'}}", style='max-width:50px', alt='customer image')
    .search-item-right
      div(style='font-weight:bold;')
        a(  target = "_blank" ng-href = "{{pool.profileUrl}}") {{pool.name}}
        //span.pull-right(title='Facebook Profile')
          //a( target = "_blank" ng-href = "{{pool.profileUrl}}" style='cursor:pointer')
            //img(src = "img/defaults/facebook.png")
      
      div
        div(ng-bind = 'pool.email')
      div
        ul.list-inline
          li(ng-bind = "pool.date")
          li(ng-bind = "pool.time")
      div(ng-show="pool.cost")
        Cost : {{pool.cost}}

