

// Sidebar
#sidebar-wrapper
  div(ng-repeat = "filter in filters" r-filters title = "{{filter.title}}" values = "filter.values" 	apply="applyFilter(filterMeta)" )
        div.filter-title(ng-bind = "filter.title")          
   

.map-right
  div(rf-pool-list)