

// Sidebar
#sidebar-wrapper
  div.filter-container
    div.filter-title Source
    input.form-control(type='text', placeholder='Source' g-auto-complete ng-model = "locations.source.name" )
  div.filter-container
    div.filter-title Destination
    input.form-control(type='text', placeholder='Destination' page = "search", g-auto-complete ng-bind = "locations.source.name")
  div.filter-container
    div.filter-title Date
    p.input-group
      input#date.form-control(type='text', uib-datepicker-popup='{{format}}', ng-model='searchDate.selDate', is-open='popup1.opened', datepicker-options='dateOptions', ng-required='true', close-text='Close', alt-input-formats='altInputFormats' ng-change="dateChanged()")
      span.input-group-btn
        button.btn.btn-default(type='button', ng-click='open1()')
          i.glyphicon.glyphicon-calendar
   div(ng-repeat = "filter in filters", r-filters, title = "{{filter.title}}" , values = "filter.values" , apply="applyFilter(filterMeta)" )
        div.filter-title(ng-bind = "filter.uiValue")          
   

.map-bottom
  
  div(rf-pool-list)
  div.container-fluid
    div.text-center
      
      div.search-result
        uib-pagination(total-items='totalItems', items-per-page = "3",ng-model='currentPage', ng-change='pageChanged()')
