doctype html
html(ng-app = "roadFravel" , xmlns:og="http://ogp.me/ns#")
  head
      title=title
      meta(name='ROBOTS', content='INDEX, FOLLOW')/
      meta(charset='UTF-8')/
      meta(name='viewport', content='width=device-width, initial-scale=1')/
      meta(name='description', content='Road Fravel is a map based vehicle pooling app with seamless interface and advanced features.')/
      meta(property='og:title', content='Road Fravel')/
      meta(property='og:type', content='website')/
      meta(property='og:image', content='http://roadfravel.herokuapp.com/img/rf/b_logo.png')/
      meta(property='og:url', content='http://roadfravel.herokuapp.com')/
      meta(property='og:description', content='Road Fravel is a next generation vehicle pooling application with a map based interface and advanced filtering options')/
      meta(name='keywords', content='car,pooling,road,fravel,even,odd,rishul,matta')/
      meta(property="fb:app_id" , content="739055686226660" )/
      link(rel='shortcut icon', type='image/x-icon', href='/img/rf/favicon.png')
      link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css', integrity='sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7', crossorigin='anonymous')
      link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/angular-wizard/0.6.1/angular-wizard.min.css')
      link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/angular-toastr/1.7.0/angular-toastr.min.css')
      link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/angularjs-slider/4.0.1/rzslider.min.css')
      link(rel='stylesheet', href='/css/style.css')
     -if (env == 'development') 
       script( type="text/javascript", src="https://maps.googleapis.com/maps/api/js?libraries=places,geometry")
       script
         |var googleBrowserKey = "AIzaSyDfm10vYkgpP5WFVcScDm64iiAtGV4l4jI";
     -else
       script( type="text/javascript", src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBab8wu7ql6hGAXF7MYmHN8-KL_xqOZvaw&libraries=places,geometry",defer)
       script
         |var googleBrowserKey = "AIzaSyBab8wu7ql6hGAXF7MYmHN8-KL_xqOZvaw";


      

  

  body(ng-controller = "GlobalCtrl")
      block content 

  -if (env != 'development')
    
    script(src='https://code.jquery.com/jquery-2.2.4.min.js', integrity='sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=', crossorigin='anonymous',defer)
    script(src='https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js',defer)
    script(src='https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.3.1/angular-ui-router.min.js',defer)
    script(src='https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/1.3.3/ui-bootstrap-tpls.min.js',defer)
    script(src='https://cdnjs.cloudflare.com/ajax/libs/angular-wizard/0.6.1/angular-wizard.min.js',defer)
    script(type='text/javascript', src='https://cdnjs.cloudflare.com/ajax/libs/angular-toastr/1.7.0/angular-toastr.tpls.min.js',defer)
    script(type='text/javascript', src='https://cdnjs.cloudflare.com/ajax/libs/angularjs-slider/4.0.1/rzslider.min.js',defer)
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js', integrity='sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS', crossorigin='anonymous',defer)
    script(type="text/javascript", src="js/lib/oms.min.js", defer)
    script(type="text/javascript", src="dist/built.min.js", defer)
    
    
    
  -else
    
    script(type="text/javascript", src="/js/lib/jquery.js")
    script(type="text/javascript", src="/js/lib/angular.js")
    script(type="text/javascript", src="/js/lib/angular-ui-router.js")
    script(type="text/javascript", src="/js/lib/ui-bootstrap.js")
    script(type="text/javascript", src="/js/lib/bootstrap.js")
    script(type="text/javascript", src="/js/lib/angular-wizard.js")
    script(type="text/javascript", src="/js/lib/angular-toastr.js")
    script(type="text/javascript", src="/js/lib/rzslider.js")
    script(type="text/javascript", src="/js/lib/oms.min.js")
    script(type="text/javascript", src="/js/initialize.js")
    script(type="text/javascript", src="/js/services/thirdParty.js")
    script(type="text/javascript", src="/js/services/persist.js")
    script(type="text/javascript", src="/js/services/fetch.js")
    script(type="text/javascript", src="/js/services/auth.js")

    script(type="text/javascript", src="/js/directives/input.js")
    script(type="text/javascript", src="/js/directives/rendering.js")
    script(type="text/javascript"  src="/js/controllers/controllers.js")
    
    
