  html, body {
      height: 100% ;margin: 0;padding: 0; 
    
  }
  #map {
      height: 100% ;
  }

  .main-view {
      position: absolute;
      z-index:10;
      bottom:20px;
 	  left:50px;
 	  right:50px;
      text-align: center;
  }

  .container {
    height:100%;
  }


/* For home page*/

  .navbar-custom {
  	width:20%;
    display : none;
  	margin:auto;
  	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+1,e5e5e5+100 */
background: #ffffff; /* Old browsers */
background: -moz-linear-gradient(top,  #ffffff 1%, #e5e5e5 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  #ffffff 1%,#e5e5e5 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  #ffffff 1%,#e5e5e5 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e5e5e5',GradientType=0 ); /* IE6-9 */
padding:0.5em;
border : 0px solid;
height:5em;
border-radius : 8px;
 text-align: justify;
    -ms-text-justify: distribute-all-lines;
    text-justify: distribute-all-lines;
    min-width:15.25em;
  }

  .nav-item {
    vertical-align: top;
    display: inline-block;
    *display: inline;
    zoom: 1;
    border:0px solid;    
    box-sizing:border-box;
    height: 100%;
    text-align:center;
  }

  .stretch {
    width: 100%;
    display: inline-block;
    font-size: 0;
    line-height: 0
}



.nav-img-container {
 
  height: 3em;
  width:3em; 
  background:#f8ecbd;
  border-radius:50%;
   display: table-cell;
  vertical-align: middle;
}

.nav-img-container .glyphicon{ 
  font-size:1.5em;
  left:-0.05em;
}

.nav-image {
  font-size:3em;
}

.child-view {
  position:absolute;
  top:0px;
   bottom:0px;
  z-index:1;
  right:0px;
  left:0px;

}


.offer-page {
 

}






.profile-pic {
  border-radius:50px;
  border:0px solid;
}

.autocomplete{
  width:40%;
  min-width:150px;
-webkit-box-shadow: 3px 6px 14px 7px rgba(140,129,130,1);
-moz-box-shadow: 3px 6px 14px 7px rgba(140,129,130,1);
box-shadow: 3px 6px 14px 7px rgba(140,129,130,1);

}

.map-right {
  width:18.75em;
  position:absolute;
  right:0px;

  top:3em;
  bottom:5em;
 
}


.left {
  float:left;
}

.right {
  float:right;
}

.source-img {
  background-image:url("/img/icons/source.png");
  background-repeat:no-repeat;
   background-position: center;
   background-size:14px;
}

.destination-img {
  background-image:url("/img/icons/destination.png");
  background-repeat:no-repeat;
   background-position: center;
   background-size:14px;
}

.offer-page.map-top .form-control {
  padding : 18px 12px;

}

.offer-page.map-top .autocomplete {
  border:0px solid;
  border-radius: 8px;
  overflow:hidden;

}


.map-right .well , .map-right input[type = 'time'] {
  -webkit-box-shadow: 3px 6px 14px 7px rgba(140,129,130,1);
-moz-box-shadow: 3px 6px 14px 7px rgba(140,129,130,1);
box-shadow: 3px 6px 14px 7px rgba(140,129,130,1);
}

.header-conainer {
     position:absolute;
    left:0px;
    right:0px;
    z-index:10;
    top:0px;
}

.header {
   display: table;
    table-layout: fixed;
  width:100%;
}


.header div {
    display: table-cell;
       height:2em;
       vertical-align: middle;
        padding:0.5em;
       color:rgb(235,227,170);
}

.text-left {
   text-align: left;
}

.text-right {
   text-align: right;
}

.text-center {
   text-align: center;
}

label {
  cursor:pointer;
}

/*------------------------------ search pool page------------------------------------------- */

.search-list {

}

.profile-pic-circle {
  border-radius : 40px;
  height:40px;
}

.navbar-added .profile-pic-anchor {
  padding-top:2px;
}

.search-item-row {

  padding: 0.3125em;
  background-color: rgba(255,255,255,0.7);
  margin: 2px 0px;
  border: 0px solid;
  border-radius:2.5em;
  display: flex;
}

.contact {
  font-size : 0.75em;
}

.helper {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

.time {
  width:25%;
  float:left;
}


.date {
  float:right;
  width:30%;
  text-overflow:ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.search-list-container {
  display:table;
}

.search-item-row .col-lg-3 , .search-item-row .col-lg-9 {
  margin:auto;
}


.filter-title {
  text-transform:capitalize;
  margin-bottom:10px;
}

.filter-container {
  padding : 5px;
}

.values-list {
   list-style-type: none;
   font-size:12px;
   padding:0px;
}

.value-container {
  max-height : 150px;
  overflow-y:auto;
  padding:5px;
}

.value {
  margin:0px 45px 0px 5px;
}

.number {
  color:#747d7d;
}
/*-------------------------------------Landing ------------------------------*/
.navbar-added {
  z-index : 1030;
  margin-bottom:0px;
  border:none;
  border-radius:0px;
  top:5px;
}

.navbar-default.navbar-added {
  background:none;
}

.navbar-added .navbar-brand {
    color:white;
}

.navbar-added  .navbar-nav > li > a {
  color : white;
}

.navbar-added  .navbar-nav > li > a:hover, .navbar-added  .navbar-nav > li > a:focus {
    color : #EAE0C8;
}


.navbar-added .navbar-right {
  margin-right:0px;
}

.navbar-wrapper {
  position:absolute;
  top:0px;
  right:0px;
  left:0px;
}


.landing-image {
  position:absolute;
  top : 0px;
}

#landing {
  background: url("/img/bck/landing.jpg") no-repeat;
  
  height:50%;
  width:100%;
  margin:auto;
  background-position: center; 
}


.first-div {
  height:100%;
  width:100%;
}




/* -------------------- Offer Pool ----------------------------  */
.offer-wizard {
  position:absolute;
  right:10px;
  left :70%;
  top : 10%;
  bottom:30%;
  background:rgba(211,211,211,0.7);
  padding:5px;
}

.remove-float {
  clear:both;
}

.steps {
  height : 80%;
}

.steps-indicator li a {
  text-transform:none;
  font-size:16px;
}

.anchor-as-button {
      display: block;
    height: 37px !important;
    border-radius: 4px;
    border: 1px solid white;
    padding: 0px 15px !important;
    line-height: 37px !important;
    margin-left:15px;
  
  }

.custom-height {
  height:80px;
}